<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AuditFramework</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SearchAuditAndExceptionDBServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.SearchAuditAndExceptionDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAuditAndExceptionDBServlet</servlet-name>
    <url-pattern>/SearchAuditAndExceptionDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceAttributesMaintenanceServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.ServiceAttributesMaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceAttributesMaintenanceServlet</servlet-name>
    <url-pattern>/ServiceAttributesMaintenanceServlet</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>UserMaintenanceServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.UserMaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMaintenanceServlet</servlet-name>
    <url-pattern>/UserMaintenanceServlet</url-pattern>
  </servlet-mapping>    
   
  <servlet>
    <servlet-name>ServiceMaintenanceServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.ServiceMaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceMaintenanceServlet</servlet-name>
    <url-pattern>/ServiceMaintenanceServlet</url-pattern>
  </servlet-mapping>      
  <servlet>
    <servlet-name>RequeueServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.RequeueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequeueServlet</servlet-name>
    <url-pattern>/RequeueServlet</url-pattern>
  </servlet-mapping>   
  <servlet>
    <servlet-name>ServiceMetricsServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.ServiceMetricsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceMetricsServlet</servlet-name>
    <url-pattern>/ServiceMetricsServlet</url-pattern>
  </servlet-mapping>   
  
  <servlet>
    <servlet-name>LoggingLevelServlet</servlet-name>
    <servlet-class>com.aneesh.auditframework.LoggingLevelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggingLevelServlet</servlet-name>
    <url-pattern>/LoggingLevelServlet</url-pattern>
  </servlet-mapping>    
  
  <env-entry>
	<env-entry-name>dbUrl</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>jdbc:oracle:thin:@localhost:1521:orcl</env-entry-value>
  </env-entry>
  <env-entry>
	<env-entry-name>dbUser</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>wmbuser</env-entry-value>
  </env-entry>
  <env-entry>
	<env-entry-name>dbPassword</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>Infy1234</env-entry-value>
  </env-entry>
  <env-entry>
	<env-entry-name>dbMaxPoolSize</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>2</env-entry-value>
  </env-entry>  
  <env-entry>
	<env-entry-name>dbMinPoolSize</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>1</env-entry-value>
  </env-entry>
  <env-entry>
	<env-entry-name>dbInactiveConnTimeout</env-entry-name>
	<env-entry-type>java.lang.String</env-entry-type>
	<env-entry-value>60</env-entry-value>
  </env-entry>    
</web-app>