<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iSAMRESTfulAPI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Transaction REST WebService</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.aneesh.auditframework</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction REST WebService</servlet-name>
    <url-pattern>/AuditTrail/*</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>dbUrl</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc:oracle:thin:@localhost:1521:orcl</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbUser</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>wmbuser</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbPassword</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Infy1234</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbMaxPoolSize</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>2</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbMinPoolSize</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>1</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>dbInactiveConnTimeout</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>60</env-entry-value>
  </env-entry>
</web-app>